body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 40%;
    background: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

button {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}

#invoice {
    width: 60%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    display: none;
    text-align: left;
}

hr {
    width: 70%;
    margin: 20px auto;
}

.centerBtn {
    text-align: center;
}
